{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block sitename %}chris Vidéos{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block top %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/Videos">Chris Vidéos</a>
        </div>
        <div class="navbar-collapse collapse">
	<div id="text_login" userid="{{ userAuth.user.id }}" username="{{ userAuth.user.username }}" class="navbar-right"></div>
<form id="form_login" class="navbar-form navbar-right" >
            <div class="form-group">
              <input type="text" name="username" id="username" placeholder="Utilisateur" class="form-control" size="20">
            </div>
            <div class="form-group">
              <input type="password" id="password" placeholder="Mot de passe" class="form-control" size="20">
		<input type="hidden" name="strcrypt" id="strcrypt" size="33" />
            </div>
		<button id="button_post" class="btn btn-success">Connexion</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
 {% endblock %}

{% block content %}   
{% endblock %}

{% block bottom %}
<!-- <script src="http://api.jquery.cmm/resources/events.js"></script> -->
<script src="/static/js/sha1.js"></script>
<!-- <script src="/resources/events.js"></script> -->
<script>
$('#form_login').on('submit', function(){
	$("#strcrypt").val(SHA1($("#password").val()));
$.ajax({
    type: "POST",    
    url: "/Videos/login",
    data: $( "#form_login" ).serialize(),	
    //dataType: 'json',
    xhrFields: {
       withCredentials: true
    },
    crossDomain: true,
success: function (user) {
        //if( user != null && user.id >= 0 )
        //        {
		$('#text_login').attr('userid', user.id);
		$('#text_login').attr('username', user.username);
		refreshAuthent();
              //  }


}
});
	return false;
});

function refreshAuthent()
{
var userid = $('#text_login').attr('userid');
if( userid > 0 )
{
	var username = $('#text_login').attr('username');
        //var userid = $('#accueil').attr('userid')
	$('#form_login').hide();
	$('#text_login').html('<font color="white">Connecté en tant que <b>' + username + '</b> - </font><a href="/Videos/logout">Se déconnecter</a>');
        $('#accueil').html('<p>Vous êtes maintenant authentifié, accèder à vos <a href="/Videos/perso?type=films&order=news">vidéos perso</a>.</p>');
	$('#text_login').show();
	$('#bienvenue').html('<h1>Bienvenue ' + username + '</h1>');
	$('#search').html('<form class="navbar-form navbar-left" role="form" method=post action="/Videos/search"><div class="form-group"><input type="text" name="search" placeholder="Entrer des mots clés" class="form-control"></div><button type="submit" class="btn btn-primary">Rechercher une vidéo sur le serveur local</button></form>');

}
else
{
	$('#form_login').show();
	$('#text_login').hide();
        $('#accueil').html('<p>Veuillez-vous authentifier pour accèder rapidement à toutes vos vidéos.</p>');
	$('#bienvenue').html('<h1>Bienvenue à tous</h1>');
	$('#search').html('<form class="navbar-form navbar-left" role="form" method=post action="/Videos/search"><div class="form-group"><input type="text" name="search" placeholder="Entrer des mots clés" class="form-control"></div><button type="submit" class="btn btn-primary">Rechercher une vidéo sur le web</button></form>');

}	
};
$(document).ready( function () {
	refreshAuthent();
});
</script>


        <div class="footer">
                &copy; Copyright 2014 by chris.
	</div>

        </div> <!-- /container -->
{% endblock %}    

{% block footer %}
    {{ parent() }}
{% endblock %}

