<!DOCTYPE html>
<html lang="fr">
  <head>
	{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {% block sitename %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">
    
    
    <!-- <link href="/static/css/tipsy.css" rel="stylesheet"> -->
    <!-- <link href="/static/css/tipsy-docs.css" rel="stylesheet"> -->
    <!-- jquery -->
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui.css">
    <script src="/static/js/jquery-1.11.1.min.js"></script> 
    <script src="/static/js/jquery-ui.min.js"></script>
    <!-- <script src="/static/js/jquery.tipsy.js"></script> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
	
  </head>

    <body>
	{% block top %}{% endblock %}
        {% block content %}{% endblock %}
	{% block bottom %}{% endblock %}
        {% block footer %} {% endblock %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>  -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
