{% extends "app.twig" %}

{% block title %}Perso{% endblock %}
{% block sitename %}chris Vidéos{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block top %}
  {{ parent() }}
{% endblock %}
{% block content %}    
<style >

<!-- @media (max-width: 425px) {
#fixedcarousel .slider-size {
height: 400px; //This is your slider height
width: 250px;
}
}
@media (min-width: 425px) {
#fixedcarousel .slider-size {
height: 400px; //This is your slider height
width: 100%;
}
-->
#fixedcarousel .slider-size {
height: 500px; //This is your slider height
width: 100%;
}

#back-to-top{display:block;color:#fff;position:fixed;z-index:49;right:20px;bottom:20px;opacity:0;font-size:3em;padding:0 11px 0 12px;border-radius:10px;background-color:#b0c4de;}
#back-to-top:hover{opacity:0.85 !important}
#back-to-top.visible{opacity:0.5}

  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

</style>
<!-- Main jumbotron for a primary marketing message or call to action <div class="jumbotron"> </div> -->
<div><br/><br/><br/></div>

<div class="container-fluid">
<div class="tabbable">
    <ul id="myTab" class="nav nav-tabs" {% if userAuth.is_granted_role("ROLE_ADMIN") %} admin="true" {% endif %} >
      <li class="active"><a href="#news" data-toggle="tab">Nouveautés </a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Films <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#films-genre" id="films-genre-tab" data-toggle="tab">genre</a></li>
          <li><a href="#films-year" id="films-year-tab"  data-toggle="tab">date</a></li>
	  <li><a href="#films-country" id="films-country-tab"  data-toggle="tab">pays</a></li>
	  <li><a href="#films-group" id="films-group-tab"  data-toggle="tab">catégorie</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Series <span class="caret"></span></a>
        <ul class="dropdown-menu">
	  <li><a href="#series-title" id="series-title-tab" data-toggle="tab">titre</a></li>
          <li><a href="#series-genre" id="series-genre-tab" data-toggle="tab">genre</a></li>
          <li><a href="#series-year" id="series-year-tab"  data-toggle="tab">date</a></li>
	  <li><a href="#series-country" id="series-country-tab"  data-toggle="tab">pays</a></li>
	  <li><a href="#series-group" id="series-group-tab"  data-toggle="tab">catégorie</a></li>
        </ul>
      </li>
	{% if userAuth.is_granted_role("ROLE_ADMIN") %}
		<li><a href="#indexes" id="indexes-tab" data-toggle="tab" state="enabled">Téléchargements </a></li>
	{% endif %}
	
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active in" id="news">
	<div class="row">
		<div class="col-md-7" style="min-width: 410px">
 			<div id="fixedcarousel" class="carousel slide" data-ride="carousel">
  			<!-- Indicators -->
  			<ol class="carousel-indicators">
    			{% for key,value in lastFilms %}
				<li data-target="#fixedcarousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %} ></li>
    			{% endfor %}
  			</ol>	
  			<!-- Wrapper for slides -->
  			<div class="carousel-inner">
  			{% for key,value in lastFilms %}
				<div {% if key == 0 %} id="itemactive" class="item active" {% else %} class="item" {% endif %} title="{{ value.title|escape('html') }}" synopsis="
{% if value.synopsisShort != '' %}
    {{ value.synopsisShort|escape('html') }}
{% else %}
    {{ value.synopsis|escape('html') }}
{% endif %}" genre="{{ value.genre|escape('html') }}" file="{{ value.urlfile|escape('html') }}?id={{ id }}"  year="{{ value.year|escape('html') }}" actors="{{ value.actors|escape('html') }}" directors="{{ value.directors|escape('html') }}" runtime="{{ value.runtime|escape('html') }}" country="{{ value.country|escape('html') }}" number="{{ value.number|escape('html') }}">
					<div style="background:url(/Videos/perso/{{ value.urlimagefile }}) top center; background-size:cover; background-position: 0px -100px; background-repeat:no-repeat;" class="slider-size" >
      					<!-- <div class="carousel-caption"><H2>{{ value.title }}</H2></div> -->
      					</div>
    				</div>
  			{% endfor %}
  			</div>
  			<!-- Controls -->
  			<a class="left carousel-control" href="javascript:void(0)" data-slide="prev" data-target="#fixedcarousel">
    				<span class="glyphicon glyphicon-chevron-left"></span>
  			</a>
  			<a class="right carousel-control" href="javascript:void(0)" data-slide="next" data-target="#fixedcarousel">
    				<span class="glyphicon glyphicon-chevron-right"></span>
  			</a>
			</div>
		</div>
		<div id="newSynopsis" class="col-md-5"></div>
	</div>
      </div>
      <div class="tab-pane fade" id="films-genre">
	<div ALIGN=CENTER id="titlefilmsgenre" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des films ...</H1></div> 
	 <div class="row"> 
		<div class="tabbable nav-tabs" style="border-bottom: 0;">
			<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" > 
			<ul class="nav nav-pills nav-stacked" id="nav-filmsgenre">
			</ul>
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<div class="tab-content" id="tab-contentfilms-genre"> 
			</div>	
		</div>
	 </div>
	</div> 
      </div>
      <div class="tab-pane fade" id="films-year">
        <div ALIGN=CENTER id="titlefilmsyear" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des films ...</H1></div>
         <div class="row">
                <div class="tabbable nav-tabs" style="border-bottom: 0;">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" >
                        <ul class="nav nav-pills nav-stacked" id="nav-filmsyear">
                        </ul>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        <div class="tab-content" id="tab-contentfilms-year">
                        </div>
                </div>
         </div>
        </div>
      </div>
      <div class="tab-pane fade" id="films-country">
        <div ALIGN=CENTER id="titlefilmscountry" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des films ...</H1></div>
         <div class="row">
                <div class="tabbable nav-tabs" style="border-bottom: 0;">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" >
                        <ul class="nav nav-pills nav-stacked" id="nav-filmscountry">
                        </ul>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        <div class="tab-content" id="tab-contentfilms-country">
                        </div>
                </div>
         </div>
        </div>
      </div>
      <div class="tab-pane fade" id="films-group">
        <div ALIGN=CENTER id="titlefilmsgroup" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des films ...</H1></div>
         <div class="row">
                <div class="tabbable nav-tabs" style="border-bottom: 0;">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" >
                        <ul class="nav nav-pills nav-stacked" id="nav-filmsgroup">
                        </ul>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        <div class="tab-content" id="tab-contentfilms-group">
                        </div>
                </div>
         </div>
        </div>
      </div>
      <div class="tab-pane fade" id="series-title">
	<div ALIGN=CENTER id="titleseriestitle" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des séries ...</H1></div> 
	 <div class="row"> 
		<div class="tabbable nav-tabs" style="border-bottom: 0;">
			<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" > 
			<ul class="nav nav-pills nav-stacked" id="nav-seriestitle">
			</ul>
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<div class="tab-content" id="tab-contentseries-title"> 
			</div>	
		</div>
	 </div>
	</div> 
      </div>
      <div class="tab-pane fade" id="series-genre">
	<div ALIGN=CENTER id="titleseriesgenre" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des séries ...</H1></div> 
	 <div class="row"> 
		<div class="tabbable nav-tabs" style="border-bottom: 0;">
			<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" > 
			<ul class="nav nav-pills nav-stacked" id="nav-seriesgenre">
			</ul>
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<div class="tab-content" id="tab-contentseries-genre"> 
			</div>	
		</div>
	 </div>
	</div> 
      </div>
      <div class="tab-pane fade" id="series-year">
        <div ALIGN=CENTER id="titleseriesyear" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des séries ...</H1></div>
         <div class="row">
                <div class="tabbable nav-tabs" style="border-bottom: 0;">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" >
                        <ul class="nav nav-pills nav-stacked" id="nav-seriesyear">
                        </ul>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        <div class="tab-content" id="tab-contentseries-year">
                        </div>
                </div>
         </div>
        </div>
      </div>
      <div class="tab-pane fade" id="series-country">
        <div ALIGN=CENTER id="titleseriescountry" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des series ...</H1></div>
         <div class="row">
                <div class="tabbable nav-tabs" style="border-bottom: 0;">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" >
                        <ul class="nav nav-pills nav-stacked" id="nav-seriescountry">
                        </ul>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        <div class="tab-content" id="tab-contentseries-country">
                        </div>
                </div>
         </div>
        </div>
      </div>
      <div class="tab-pane fade" id="series-group">
        <div ALIGN=CENTER id="titleseriesgroup" href="#" style="background-color: #b0c4de;"><H1>Chargement de la liste des series ...</H1></div>
         <div class="row">
                <div class="tabbable nav-tabs" style="border-bottom: 0;">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" >
                        <ul class="nav nav-pills nav-stacked" id="nav-seriesgroup">
                        </ul>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        <div class="tab-content" id="tab-contentseries-group">
                        </div>
                </div>
         </div>
        </div>
      </div>
      {% if userAuth.is_granted_role("ROLE_ADMIN") %}
	<div class="tab-pane fade" id="indexes">
		<div class="row">
			<div class="col-md-12" >
				<div id="tab-content-indexes">				
				<form id="form_downloaded_files">				
					<input type="hidden" id="type_download_action" name="type" value=""/>
					<div id="downloaded_files">
						<p>Recherche de fichier(s) Vidéo(s) ...</p>
						<div id="downloaded_files_allprogress"></div>
					</div>
				</form>			
				<form id="form_indexation_files" href="#form_indexation_files">	
					<div id="indexation_files_txt" href="#indexation_files_txt"></div>
					<div id="indexation_files_movies" href="#indexation_files_movies">
					</div>
					<div id="indexation_files_tvseries" href="#indexation_files_tvseries">
					</div>
					<div id="indexation_button" href="#indexation_button"></div>
				</form>	
				</div>
			</div>
		</div>
	</div>
        {% endif %}

    </div>
  </div><!-- /example -->

<a href='#' id='back-to-top' title='Retour en haut'>
&#8679;
</a>

<script>

  /*$(function() {
    var progressbar = $( "#progressbar" ),
      progressLabel = $( ".progress-label" );
 
    progressbar.progressbar({
      value: false,
      change: function() {
        progressLabel.text( progressbar.progressbar( "value" ) + "%" );
      },
      complete: function() {
        progressLabel.text( "Complete!" );
      }
    });
 
    function progress() {
      var val = progressbar.progressbar( "value" ) || 0;
 
      progressbar.progressbar( "value", val + 2 );
 
      if ( val < 99 ) {
        setTimeout( progress, 80 );
      }
    }
 
    setTimeout( progress, 2000 );
  });*/
      //$('div').tipsy({delayIn: 500, delayOut: 1000,gravity: 'w'});

function updateNews( selectdiv )
{
	var textYear = '';
	if( selectdiv.attr('year') !== '' )
		textYear = '<p style="display:inline; padding-right:1em;">[' + selectdiv.attr('year') + ']</p>';

	var textFile = '#';
	if( selectdiv.attr('file') !== '' )
		textFile = '/Videos/perso/' + selectdiv.attr('file');			

	var textTitle = '';
	if( selectdiv.attr('title') !== '' ) {
		if( selectdiv.attr('number') !== '' )
			textTitle = '<h1 style="display:inline;" title="' + textFile + '">' + selectdiv.attr('title') + ' - Saison ' + selectdiv.attr('number') + '</h1>';
		else
                	textTitle = '<h1 style="display:inline;" title="' + textFile + '">' + selectdiv.attr('title') + '</h1>';
	}
	else
		textTitle = '<h3>' + textFile + '</h3>';

	var textCountry = '';
	if( selectdiv.attr('country') !== '' )
                textCountry = '<p style="display:inline; padding-right:1em;">(' + selectdiv.attr('country') + ')</p>'

	var textGenre = 'Non classé';
	if( selectdiv.attr('genre') !== '' )
		textGenre = '<h3 style="display:inline;">' + selectdiv.attr('genre') + '</h3>&nbsp;';
                //textGenre = '<h3 style="display:inline; padding-left:1em; padding-right:1em;">' + selectdiv.attr('genre') + '</h3>';

	var textDirectors = '';
        if( selectdiv.attr('directors') !== '' )
                textDirectors = '<U><h4>De</h4></U>' + selectdiv.attr('directors');

	var textActors = '';
        if( selectdiv.attr('actors') !== '' )
                textActors = '<U><h4>Avec</h4></U>' + selectdiv.attr('actors');

	var textRuntime = '';
	if( selectdiv.attr('runtime') !== '' )
		textRuntime = '<p style="display:inline; padding-right:1em;">Durée: ' + selectdiv.attr('runtime') + '</p>';

	var textSynopsis = '';
	if( selectdiv.attr('synopsis') !== '' )
		textSynopsis = '<U><h4>Synopsis</h4></U>' + selectdiv.attr('synopsis');

	$('#newSynopsis').html( '<a href="' + textFile  + '">' + textTitle + '</a>&nbsp;' + textCountry + '<br/><br/>' + textGenre + textYear + textRuntime + textDirectors + textActors + textSynopsis );
};

function deleteVideoFile(filename, typevideo, iddiv)
{
	if( confirm('Dérirez vous supprimer la Vidéo "' + filename + '" ?') ) {
		//if( typevideo === 'movie' ) {
			$.ajax({
			type: "POST",
			url: "/Videos/perso",
			dataType: "json",
			data: '{"type":"delete","typevideo":"' + typevideo + '","filename":"' + encodeURIComponent(filename) + '"}',
		      	contentType: 'application/json; charset=utf-8',
		    	cache: false,
		    	timeout: 30000,
		    		crossDomain: true,
				success: function (result) {
					if( result.error ) { }
					else { $('#' + iddiv).html( '' ) ; }
				}
			});
		//}
	}
};

function reindexVideoFile(filename, typevideo, iddiv)
{
	if( confirm('Dérirez vous réindexer la Vidéo "' + filename + '" ?') ) {
		//if( typevideo === 'movie' ) {
			$.ajax({
			type: "POST",
			url: "/Videos/perso",
			dataType: "json",
			data: '{"type":"reindex","typevideo":"' + typevideo + '","filename":"' + encodeURIComponent(filename) + '"}',
		      	contentType: 'application/json; charset=utf-8',
		    	cache: false,
		    	timeout: 30000,
		    		crossDomain: true,
				success: function (result) {
					if( result.error ) { }
					else { $('#' + iddiv).html( '' ) ; }
				}
			});
		//}
	}
};

function updateOrderTypeMovie(orderType, orderTypeValue)
{
var trimOrderTypeValue = orderTypeValue.replace(/ /g, '').replace(/\./g, '').replace(/\(/g, '').replace(/\)/g, '').replace(/\'/g, '').replace(/\[/g, '').replace(/\]/g, '').replace(/\:/g, '');
var orderTypeValueSelected = $('#nav-films' + orderType + ' .active').text();

if( $('#films-' + orderType + trimOrderTypeValue).html() === '' ) { //(genreselected !== genre  || force) ) {
$('#titlefilms' + orderType).html('<h1>Chargement de la liste des films ...</h1>');
$.ajax({
    type: "GET",
    url: "/Videos/perso",
    data: { type: 'listvideos', typevideo: 'movie', order: orderType , value: orderTypeValue},
    dataType: 'json',
    xhrFields: { withCredentials: true },
    crossDomain: true,
        success: function (jsonObject) {
		var data = jsonObject.list;
		var id = jsonObject.id;	
		var isAdmin = $('#myTab').attr('admin');

		var tabhtmldatahtml = '';
                //var tabhtmldatahtml = '<div class="table-responsive"><TABLE class="table" border="0" WIDTH="100%" cellpadding="0">';
                for (var i = 0, len = data.length; i < len; i++) {
                        var value = data[i];
			if( isAdmin === 'true' ) {
			tabhtmldatahtml += '<div id="film_' + orderType + trimOrderTypeValue + '_' + i + '"><div class="row"><div class="col-md-12"><hr><h2>' + value.title + '&nbsp;<span><button onclick="deleteVideoFile(\'' + value.urlfile + '\',\'movie\',\'film_' + orderType + trimOrderTypeValue + '_' + i + '\')"  class="btn btn-success btn-xs inline">SUPRIMER</button></span>&nbsp;<span><button onclick="reindexVideoFile(\'' + value.urlfile + '\',\'movie\',\'film_' + orderType + trimOrderTypeValue + '_' + i + '\')"  class="btn btn-success btn-xs inline">RE-INDEX</button></span></h2></div></div>';
			} else {
			tabhtmldatahtml += '<div class="row"><div class="col-md-12"><hr><h2>' + value.title + '</h2></div></div>';
			}
			tabhtmldatahtml += '<div class="row"><div class="col-md-8">';
			if( typeof value.year !== 'undefined' && value.year !== null && value.year !== '' )
				tabhtmldatahtml += '<B>Genre :</B> ' + value.genre + ' (' + value.year + ')<BR/>';
			else
				tabhtmldatahtml += '<B>Genre :</B> ' + value.genre + '<BR/>';
			if( typeof value.directors !== 'undefined' && value.directors !== null && value.directors !== '' )
				 tabhtmldatahtml += '<B>De :</B> ' + value.directors + '<BR/>';
			if( typeof value.actors !== 'undefined' && value.actors !== null && value.actors !== '' )
                                 tabhtmldatahtml += '<B>Avec :</B> ' + value.actors + '<BR/>';
			if( typeof value.country !== 'undefined' && value.country !== null && value.country !== '' )
				tabhtmldatahtml += '<B>Pays :</B> ' + value.country + '<BR/>';
			if( typeof value.runtime !== 'undefined' && value.runtime !== null && value.runtime !== '' )
				tabhtmldatahtml += '<B>Fichier :</B><a href="/Videos/perso/' + value.urlfile + '?id=' + id + '"> ' + value.urlfile + '</a> (' + value.runtime + ')<BR/><BR/>';
			else
				tabhtmldatahtml += '<B>Fichier :</B><a href="/Videos/perso/' + value.urlfile + '?id=' + id + '"> ' + value.urlfile + '</a><BR/><BR/>';
			
			tabhtmldatahtml += value.synopsis + '</div>';
			if( typeof value.urlimagefile !== 'undefined' && value.urlimagefile !== null && value.urlimagefile !== '' )
				tabhtmldatahtml += '<div class="col-md-4"><div class="fadeover"><img class="img-thumbnail" src="/Videos/perso/' + value.urlimagefile + '" width="160"/></div></div>';
			tabhtmldatahtml += '</div></div>';	
                }

		//tabhtmldatahtml += '</TABLE></div>';
                $('#films-' + orderType + trimOrderTypeValue).html(tabhtmldatahtml);
		$('#titlefilms' + orderType).html('<H1>Envie de regarder des films dans ' + orderTypeValue + ' ?</H1>');
		window.location = $('#titlefilms' + orderType).attr('href');
        }
});
}
else
	{
		$('#titlefilms' + orderType).html('<H1>Envie de regarder des films dans ' + orderTypeValue + ' ?</H1>');
		window.location = $('#titlefilms' + orderType).attr('href');
	}
};

function updateOrderTypeSerie(orderType, orderTypeValue)
{
var trimOrderTypeValue = orderTypeValue.replace(/ /g, '').replace(/\./g, '').replace(/\(/g, '').replace(/\)/g, '').replace(/\'/g, '').replace(/\[/g, '').replace(/\]/g, '').replace(/\:/g, '');
var orderTypeValueSelected = $('#nav-series' + orderType + ' .active').text();

if( $('#series-' + orderType + trimOrderTypeValue).html() === '' ) { //(genreselected !== genre  || force) ) {
$('#titleseries' + orderType).html('<h1>Chargement de la liste des séries ...</h1>');
$.ajax({
    type: "GET",
    url: "/Videos/perso",
    data: { type: 'listvideos', typevideo: 'tvserie', order: orderType , value: orderTypeValue},
    dataType: 'json',
    xhrFields: { withCredentials: true },
    crossDomain: true,
        success: function (jsonObject) {
		var data = jsonObject.list;
		var id = jsonObject.id;	
		var isAdmin = $('#myTab').attr('admin');

		var tabhtmldatahtml = '';
                //var tabhtmldatahtml = '<div class="table-responsive"><TABLE class="table" border="0" WIDTH="100%" cellpadding="0">';
                for (var i = 0, len = data.length; i < len; i++) {
                        var value = data[i];
			if( isAdmin === 'true' ) {
			tabhtmldatahtml += '<div id="serie_' + orderType + trimOrderTypeValue + '_' + i + '"><div class="row"><div class="col-md-12"><hr><h2>' + value.title + ' - Saison ' + value.number + '&nbsp;<span><button onclick="deleteVideoFile(\'' + value.urldir + '\',\'tvserie\',\'serie_' + orderType + trimOrderTypeValue + '_' + i + '\')"  class="btn btn-success btn-xs inline">SUPRIMER</button></span></h2></div></div>';
			} else {
			tabhtmldatahtml += '<div class="row"><div class="col-md-12"><hr><h2>' + value.title + ' - Saison ' + value.number + '</h2></div></div>';
			}
			tabhtmldatahtml += '<div class="row"><div class="col-md-8">';
			if( typeof value.year !== 'undefined' && value.year !== null && value.year !== '' )
				tabhtmldatahtml += '<B>Genre :</B> ' + value.genre + ' (' + value.year + ')<BR/>';
			else
				tabhtmldatahtml += '<B>Genre :</B> ' + value.genre + '<BR/>';
			if( typeof value.directors !== 'undefined' && value.directors !== null && value.directors !== '' )
				 tabhtmldatahtml += '<B>De :</B> ' + value.directors + '<BR/>';
			if( typeof value.actors !== 'undefined' && value.actors !== null && value.actors !== '' )
                                 tabhtmldatahtml += '<B>Avec :</B> ' + value.actors + '<BR/>';
			if( typeof value.country !== 'undefined' && value.country !== null && value.country !== '' )
				tabhtmldatahtml += '<B>Pays :</B> ' + value.country + '<BR/>';
			/*if( typeof value.runtime !== 'undefined' && value.runtime !== null && value.runtime !== '' )
				tabhtmldatahtml += '<B>Fichier :</B><a href="/Videos/perso/' + value.urlfile + '?id=' + id + '"> ' + value.urlfile + '</a> (' + value.runtime + ')<BR/><BR/>';
			else
				tabhtmldatahtml += '<B>Fichier :</B><a href="/Videos/perso/' + value.urlfile + '?id=' + id + '"> ' + value.urlfile + '</a><BR/><BR/>';*/
			if( typeof value.episodeCount !== 'undefined' && value.episodeCount !== null && value.episodeCount !== ''  && value.episodeCount !== '0' )
				tabhtmldatahtml += '<B>Nombre d\'épisodes :</B> ' + value.episodeCount + '<BR/>';
			
			tabhtmldatahtml += '<BR/>';
			
			if( typeof value.synopsis !== 'undefined' && value.synopsis !== null && value.synopsis !== '' )
				tabhtmldatahtml += value.synopsis + '<BR/>';
			else
				tabhtmldatahtml += '<BR/>';

			if( typeof value.episodes !== 'undefined' ) {
			for (var j = 0; j < value.episodes.length; j++) {
				var txttitle = '';
				var txtsynopsis = '';
				if( typeof value.episodes[j].title !== 'undefined' && value.episodes[j].title !== '' )
					txttitle = ' : ' + value.episodes[j].title ;
				/*if( typeof value.episodes[j].sysnopis !== 'undefined' && value.episodes[j].sysnopis !== '' )
					txtsynopsis = value.episodes[j].sysnopis ;*/
				if( typeof value.episodes[j].urlfile !== 'undefined' && value.episodes[j].urlfile !== '' )
					tabhtmldatahtml += '<div title="' + txtsynopsis + '"><a href="/Videos/perso/' + value.episodes[j].urlfile + '?id=' + id + '"> ' + 'Episode ' +  value.episodes[j].number + txttitle + '</a></div>';
				else
					tabhtmldatahtml += '<div title="' + txtsynopsis + '">Episode ' +  value.episodes[j].number + txttitle + '</div>';	
			}
			}
			tabhtmldatahtml += '</div>';
			if( typeof value.urlimagefile !== 'undefined' && value.urlimagefile !== null && value.urlimagefile !== '' )
				tabhtmldatahtml += '<div class="col-md-4"><div class="fadeover"><img class="img-thumbnail" src="/Videos/perso/' + value.urlimagefile + '" width="160"/></div></div>';
			tabhtmldatahtml += '</div></div>';	
                }

		//tabhtmldatahtml += '</TABLE></div>';
                $('#series-' + orderType + trimOrderTypeValue).html(tabhtmldatahtml);
		$('#titleseries' + orderType).html('<H1>Envie de regarder des séries dans ' + orderTypeValue + ' ?</H1>');
		window.location = $('#titleseries' + orderType).attr('href');

        }
});
}
else
	{
		$('#titleseries' + orderType).html('<H1>Envie de regarder des séries dans ' + orderTypeValue + ' ?</H1>');
		window.location = $('#titleseries' + orderType).attr('href');
	}

};

$(document).on('mouseover', '.fadeover', function(){
	$(this).animate({
            opacity: 0.6
        });
}); 

$(document).on('mouseout', '.fadeover', function(){
	$(this).stop(true, true).animate({
            opacity: 1
        });
});

$(document).ready( function () {
updateNews($('#itemactive'));


$('#fixedcarousel').bind('slide.bs.carousel', function (e) {
	updateNews( $(e.relatedTarget) );

	//var newDiv = $(e.relatedTarget);
	//$('#newSynopsis').html('<h2>Synopsis</h2>' + newDiv.attr('synopsis'));
});

function updateOrderFilms(orderType)
{
	var orderTypeValueSelected = $('#nav-films' + orderType + ' .active').text();

	if( orderTypeValueSelected === '') {
		$.ajax({
			type: "GET",
			url: "/Videos/perso",
			data: { type: 'list' + orderType + 's', typevideo: 'movie' },
			dataType: 'json',
			xhrFields: { withCredentials: true },
			crossDomain: true,
				success: function (data) {

				var navhtmldata = '';
				var tabhtmldata = '';
				        for (var i = 0; i < data.length; i++) {
				                var orderTypeValue = data[i];
				                var trimOrderTypeValue = data[i].replace(/ /g, '').replace(/\./g, '').replace(/\(/g, '').replace(/\)/g, '').replace(/\'/g, '').replace(/\[/g, '').replace(/\]/g, '').replace(/\:/g, '');
				                if( i === 0 ) {
				                        navhtmldata += '<li class="active" id="films-' + orderType + '-' + trimOrderTypeValue  +'" onclick="updateOrderTypeMovie(\'' + orderType  + '\', \'' + orderTypeValue.replace(/\'/g,'\\\'')  + '\')"><a href="#films-' + orderType + trimOrderTypeValue  + '" data-toggle="tab">' + orderTypeValue + '</a></li>';
						tabhtmldata += '<div class="tab-pane active" id="films-' + orderType + trimOrderTypeValue  + '"></div>';
					}
				                else {
				                        navhtmldata += '<li id="films-' + orderType  + '-' + trimOrderTypeValue  + '" onclick="updateOrderTypeMovie(\'' + orderType  + '\', \'' + orderTypeValue.replace(/\'/g,'\\\'')  + '\')"><a href="#films-' + orderType + trimOrderTypeValue  + '" data-toggle="tab">' + orderTypeValue + '</a></li>';
						tabhtmldata += '<div class="tab-pane" id="films-' + orderType + trimOrderTypeValue  + '"></div>';
					}

				        }
				        $('#nav-films' + orderType).html(navhtmldata);
				$('#tab-contentfilms-' + orderType).html(tabhtmldata);
				orderTypeValueSelected = $('#nav-films' + orderType + ' .active').text();
					updateOrderTypeMovie(orderType, orderTypeValueSelected);
				}
		});
		}
		};

function updateOrderSeries(orderType)
{
	var orderTypeValueSelected = $('#nav-series' + orderType + ' .active').text();

	if( orderTypeValueSelected === '') {
		$.ajax({
			type: "GET",
			url: "/Videos/perso",
			data: { type: 'list' + orderType + 's', typevideo: 'tvserie' },
			dataType: 'json',
			xhrFields: { withCredentials: true },
			crossDomain: true,
				success: function (data) {

				var navhtmldata = '';
				var tabhtmldata = '';
				for (var i = 0; i < data.length; i++) {
					var orderTypeValue = data[i];
				    var trimOrderTypeValue = data[i].replace(/ /g, '').replace(/\./g, '').replace(/\(/g, '').replace(/\)/g, '').replace(/\'/g, '').replace(/\[/g, '').replace(/\]/g, '').replace(/\:/g, '');
				    if( i === 0 ) {
				    	navhtmldata += '<li class="active" id="series-' + orderType + '-' + trimOrderTypeValue  +'" onclick="updateOrderTypeSerie(\'' + orderType  + '\', \'' + orderTypeValue.replace(/\'/g,'\\\'')  + '\')"><a href="#series-' + orderType + trimOrderTypeValue  + '" data-toggle="tab">' + orderTypeValue + '</a></li>';
						tabhtmldata += '<div class="tab-pane active" id="series-' + orderType + trimOrderTypeValue  + '"></div>';
					}
				    else {
				    	navhtmldata += '<li id="series-' + orderType  + '-' + trimOrderTypeValue  + '" onclick="updateOrderTypeSerie(\'' + orderType  + '\', \'' + orderTypeValue.replace(/\'/g,'\\\'')  + '\')"><a href="#series-' + orderType + trimOrderTypeValue  + '" data-toggle="tab">' + orderTypeValue + '</a></li>';
						tabhtmldata += '<div class="tab-pane" id="series-' + orderType + trimOrderTypeValue  + '"></div>';
					}

				 }
				        $('#nav-series' + orderType).html(navhtmldata);
			
					$('#tab-contentseries-' + orderType).html(tabhtmldata);
					orderTypeValueSelected = $('#nav-series' + orderType + ' .active').text();
					updateOrderTypeSerie(orderType, orderTypeValueSelected);
				
				}
					
		});
	}
}

function suggestVideoFilename(orifinalFilename)
{
	var str = orifinalFilename;
	var filename = str.replace(/.*\//g,"");
    	var basename = filename.replace(/\.[^.]*$/g,"");
    	var extension = filename.replace(/.*\./g,"");

	var shortbasename = basename;
	var extend = "";

	var txt = shortbasename.replace(/\[[^\]]*\]/g,"");
	txt=txt.trim();
	txt = txt.replace(new RegExp(" ", "g"),".");

	for (var i = 0; i <= 99; i++) {
	    var iString = i.toString();
	    if( iString.length == 1 )
		iString = "0" + iString;
	    var reg=new RegExp("\\.20" + iString + "\\.", "g");
	    txt = txt.replace(reg,".");
	    reg=new RegExp("\\.20" + iString + "$", "g");
	    txt = txt.replace(reg,".");
	}

	var keywords = ["WEBRip","dvd", "brrip", "bdrip", "xvid", "truefrench","stv","x264","fastsub","web-dl","ld","ac3","hdtv"];
	for (var i = 0; i < keywords.length; i++)
	{
		var reg=new RegExp("\\." + keywords[i] + "[^.]*\\.", "gi");
		txt = txt.replace(reg,".");
		reg=new RegExp("\\." + keywords[i] + "[^.]*$", "gi");
		txt = txt.replace(reg,"."); 
	}

	var keywordsSolo = ["french"];
	for (var i = 0; i < keywordsSolo.length; i++)
	{
		var reg=new RegExp("\\." + keywordsSolo[i] + "\\.", "gi");
		txt = txt.replace(reg,".");
		reg=new RegExp("\\." + keywordsSolo[i] + "$", "gi");
		txt = txt.replace(reg,".");
	}

	var vostfr = '';
	var pattern = new RegExp("\\.VOSTFR", "gi");
	if( pattern.test(txt) ) {
		pattern.lastIndex=0;
		vostfr = '_VOSTFR';
		txt = txt.replace(pattern,'.');
	}

	var episode = '';
	pattern = new RegExp("\\.S[0-9]{1,2}E[0-9]{1,2}", "gi");
	var pattern1 = new RegExp("S[0-9]{1,2}E[0-9]{1,2}", "gi");
	if( pattern.test(txt) ) {
		pattern.lastIndex=0;
		episode = '_' + pattern1.exec(txt)[0];
		txt = txt.replace(pattern,'');
	}

	var newfilename = txt.trim() + episode.trim() + vostfr.trim() +  extend.trim() + "." + extension.trim();
	newfilename = newfilename.replace(/\.\./g,".");
	newfilename = newfilename.replace(/\._/g,"_");
	newfilename = newfilename.replace(/_\./g,"_");
	return newfilename;
}

function getSeasonNumber(filename) {
	var seasonnumber = 0;
	if( filename.match(/_S[0-9]{1,2}E[0-9]{1,2}/i) ) {
		var strseasonnumber = filename.replace(/.*_S([0-9]{1,2})(E[0-9]{1,2}.*)/i,'$1');
		//alert(filename + ':' + strseasonnumber);
		if( strseasonnumber !== '' ) { seasonnumber = parseInt(strseasonnumber,10); }	
	}
	return seasonnumber;
}

function updateIndexes()
{
//alert('updateIndexes');
$.ajax({
    type: "GET",
    url: "/Videos/perso",
    data: { type: 'listdownloads' },
    dataType: 'json',
    xhrFields: { withCredentials: true },
    crossDomain: true,
        success: function (mydata) {
		//alert( 'avant convertfiles2mkv' );
		//if( $('#downloaded_files_allprogress').attr('active') !== 'true' ) {
			var converting = convertfiles2mkv(mydata.path, mydata.list);
			if( !converting ) {
				$('#indexes-tab').attr({'state' : 'enabled'});
				showDownloadedFiles(mydata.path, mydata.list);
			}
		//}		
	}
	});	
}

function getProgress(key, callback)
{
	$.ajax({
	    type: "GET",
	    url: "/Videos/perso",
	    data: { type: 'getprogress', key: key },
	    //dataType: 'json',
	    //xhrFields: { withCredentials: true },
	    crossDomain: true,
		cache: false,
		success: function (mydata) {
			//alert('.' + mydata.progress + '.');
			//alert(JSON.stringify(mydata));
			/*var progressbar = getprogressfromid(key);
			progressbar.attr({"running" : mydata.running , "exitcode" : mydata.exitcode, "progress" :  mydata.progress });*/
			callback( mydata.error, mydata.running, mydata.exitcode, mydata.progress );
			//callback(parseInt(mydata.progress));
		}	
	});
	
}

function getnewprogresskey() {
	var i = 0;
	$('.progress_bar').each(function() {
    		i = i + 1;
	});
	return 'progressbar' + i;
}

/*function initprogress(progressbar) {
	
		progressLabel = progressbar.find( ".progress-label" ),
		progressvalue = progressbar.attr('value');		

		progressbar.progressbar({
			value: false,
			change: function() {
				progressLabel.text( progressbar.progressbar( 'value' ) + "%" );
			},
			complete: function() {
				progressLabel.text( 'Complete!' );
			}
		});

		function waitprogress() {
				var key = progressbar.attr('id');
				//alert('! ' + progressbar.attr('id'));
				var timeout = progressbar.attr('timeout');	
				getProgress( key, function( error, running, exitcode, progress ){
					//alert('!!! {"running" : ' + running + ' , "exitcode" : ' + exitcode + ' }');
					progressbar.attr({"running" : running.toString() , "exitcode" : exitcode.toString() });
					if( running == true ) {
						//alert('1');
						var oldvalue = progressbar.progressbar( "value");
									
						//progressbar.attr({"running" : running, "exitcode" : exitcode });
						var value = progress;
						if( value <= 100 && value >= oldvalue ) {
								//alert('2');
								progressbar.progressbar( "value", value );
						}
						setTimeout(waitprogress, timeout);
					}
					else {
						//alert('0');
						if( exitcode == 0 )
							progressbar.progressbar( "value", 100 );
						if( progressesFinished() === 'true' ) {
							//alert( 'success' );
							updateIndexes();
						}
						else
							setTimeout(waitprogress, timeout);
					}
				});
			
		}
    	setTimeout( waitprogress, 100 );
}*/

function initallprogress() {
	$('.progress_bar').each(function() {
		
		var progressbar = $(this),
		progressLabel = $(this).find( ".progress-label" ),
		progressvalue = $(this).attr('value');		

		progressbar.progressbar({
			value: false,
			change: function() {
				progressLabel.text( progressbar.progressbar( 'value' ) + "%" );
			},
			complete: function() {
				progressLabel.text( 'Complete!' );
			}
		});

		function waitprogress() {
				var key = progressbar.attr('id');
				//alert('! ' + progressbar.attr('id'));
				var timeout = progressbar.attr('timeout');	
				getProgress( key, function( error, running, exitcode, progress ){
					//alert('!!! {"running" : ' + running + ' , "exitcode" : ' + exitcode + ' }');
					progressbar.attr({"running" : running.toString() , "exitcode" : exitcode.toString() });
					if( running == true ) {
						//alert('1');
						var oldvalue = progressbar.progressbar( "value");
									
						//progressbar.attr({"running" : running, "exitcode" : exitcode });
						var value = progress;
						if( value <= 100 && value >= oldvalue ) {
								//alert('2');
								progressbar.progressbar( "value", value );
						}
						setTimeout(waitprogress, timeout);
					}
					else {
						//alert('0');
						if( exitcode == 0 )
							progressbar.progressbar( "value", 100 );
						if( progressesFinished() === 'true' ) {
							
							if( $('#downloaded_files_allprogress').attr('active') === 'true' ) {
								$('#downloaded_files_allprogress').attr({'active' : 'false'});
								updateIndexes();
							}
							//return;
						}
						else
							setTimeout(waitprogress, timeout);
					}
				});
			
		}
    	setTimeout( waitprogress, 100 );
	});
}

function getprogressfromid( key, callback) {
	var returnprogressbar = null;
	$('.progress_bar').each(function() {
    		var progressbar = $(this);
	
		var id = progressbar.attr('id');
		if( id === key ) {
			callback(progressbar);
			//break;
		}
	});
	//return returnprogressbar;
}

function progressesFinished() {
	var arefinished = 'true';
	//alert('progressesFinished');
	$('.progress_bar').each(function() {
	    //var progressbar = $(this);
	
		var running = $(this).attr('running');
		if( running === 'true' ) {
			arefinished = 'false';
			//break;
		}
	});
	return arefinished;
}



function convertfiles2mkv(path, data) {
	//alert('New call of convertfiles2mkv');
	var avifound = false;
	// 
	$('#downloaded_files').html('<p>Conversion des fichier(s) Vidéo(s) ...</p><div id="downloaded_files_allprogress" active="false"></div>');
	$('#indexation_files_txt').html('');
	$('#indexation_files_movies').html('');
	$('#indexation_files_tvseries').html('');
	$('#indexation_button').html('');
	$('#downloaded_files_allprogress').html( '<table class="table"><tbody></tbody></table>' );
	

	var avitoconvert = 0;
	var totalavi = 0;
	var len = 0;
	var init = 0;
	for (var i = 0, len = data.length; i < len ; i++) {
		var extension = data[i].replace(/.*\./g,"");
		if( extension === 'avi' ) {
			totalavi++;
		}
	}
	//alert('len : ' + len);
	//alert('totalavi : ' + totalavi);
	for (var i = 0, len = data.length; i < len ; i++) {
		var filenamedecoded = decodeURIComponent(data[i]);
		var extension = filenamedecoded.replace(/.*\./g,"");
		if( extension === 'avi' ) {
			var progresskey = "progressbar" + avitoconvert; //i; //getnewprogresskey();
			avifound = true;
			avitoconvert++;
			
			if( avitoconvert <= 3 ) {				
				$.ajax({
					/*type: "GET",
					url: "/Videos/perso",
					data: { "type": 'avi2mkv', "filename": data[i], "path": path, "key": progresskey },
				//data: '{"type":"avi2mkv","filename":"' + data[i] + '","path":"' + path + '","key":"' + progresskey + '" }',
				  	contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					//xhrFields: { withCredentials: true },
					crossDomain: true,
					cache: false,*/
					type: "POST",
					url: "/Videos/perso",
					dataType: "json",
					data: '{"type":"avi2mkv","filename":"' + data[i] + '","path":"' + path + '","key":"' + progresskey + '","desc":"' + data[i] + '" }',
				  	contentType: 'application/json; charset=utf-8',
					cache: false,
					timeout: 180000000,
					crossDomain: true,
					success: function ( result, status, jqXHR) {
						//alert('success');
						//progressbar.attr({"running" : result.running.toString() });
						if( result.running == true ) {
							var filenamedecoded = decodeURIComponent(result.desc);
							var color = ''; if ( (avitoconvert % 2) == 0) { color = 'info'; } else { color = 'active'; }
							var contenttbody = $('#downloaded_files_allprogress table tbody').html();
							contenttbody += '<tr class="' + color + '"><td class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><h5>' + filenamedecoded + '</h5></td><td class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><div class="progress_bar" id="' + result.key + '" timeout="' + 2000 + '" running="' + 'true' + '" exitcode="-1"><div class="progress-label">Chargement...</div></div></td></tr>';
							$('#downloaded_files_allprogress table tbody').html(contenttbody);	
							/*getprogressfromid(result.key, function(progressbar) {
								initprogress(progressbar);
							});*/
							init++;						
						} else {
							totalavi--;
						}
						
						//alert(totalavi + ':' + init);
						if( init == 0  && totalavi == init) {
							$('#indexes-tab').attr({'state' : 'enabled'});
							showDownloadedFiles(path, data);
						}
						else if( init >= 3 || init >= totalavi  ) {	
							//alert('');
							$('#downloaded_files_allprogress').attr({'active' : 'true'});		
							initallprogress();
						}
					},
					error: function (jqXHR, status, err) {
						//alert('error');
						//init++;
						//if( init >= 3 || init >= totalavi ) {
						//var progressbar = getprogressfromid(result.key);
						//alert('initallprogress');
						//initallprogress();
						//}	
					},
					complete: function (jqXHR, status) {
						
					}
				});				

			} else break;
		} // if
	} // for
	return avifound;
}

function showDownloadedFiles(path, data) {

$('#downloaded_files').html('<p>Recherche de fichier(s) Vidéo(s) ...</p>');
$('#indexation_files_txt').html('');
$('#indexation_files_movies').html('');
$('#indexation_files_tvseries').html('');
$('#indexation_button').html('');


		var tabhtmldata = '<h2>Vidéos du dossier ' + path + '</h2><br/>';
        	tabhtmldata += '<div class="table-responsive"><table class="table"><tbody>';
                for (var i = 0, len = data.length; i < len; i++) {
			var filenamedecoded = decodeURIComponent(data[i]);
			var newfilename = suggestVideoFilename(filenamedecoded);
			var color = '';
			if (i % 2 == 0) {
      				color = 'info';
    			}
    			if (i % 2 != 0) {
      				color = 'active';
    			}
			tabhtmldata += '<tr class="' + color + '"><td class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><h5>' + filenamedecoded  + '</h5></td><td class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><h5> à renommer en </h5></td><td class="col-xs-3 col-sm-4 col-md-4 col-lg-4"><input class="form-control" name="' + data[i] + '" placeholder="nouveau nom de fichier" value="' + newfilename + '"></td></tr>';
			//tabhtmldata += '<div class="row"><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><p class="text-justify"><h5 style="display:inline;">' + filenamedecoded  + '</h5></p></div><div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><p class="text-justify"> à renommer en</p></div><div class="col-xs-3 col-sm-4 col-md-4 col-lg-4"><input class="form-control" name="' + data[i] + '" placeholder="nouveau nom de fichier" value="' + newfilename + '"></div></div>';

		}
		if( data.length > 0 ) {
		tabhtmldata += '</tbody></table></div><br/><div class="row"><div class="col-md-6"><button onclick="getElementById(\'type_download_action\').value=\'rename\'"  class="btn btn-primary btn-xs center-block">Renommer les fichiers</button></div><div class="col-md-6"><button onclick="getElementById(\'type_download_action\').value=\'search\'" id="btnIndexSearch" class="btn btn-primary btn-xs center-block">Rechercher sur Allociné</button></div></div><br/></div><div class=\'row\'><hr/><div class=\'span12\'>';
		$('#downloaded_files').html(tabhtmldata);
		}
}

$('#form_downloaded_files').on('submit', function(){
  if( $('#type_download_action').val() === 'search' ) {
	disabledSearchButton();
	$('#indexation_files_txt').html("<h2>Propositions d'indexation ...</h2>");
	$('#indexation_files_tvseries').html('');
	$('#indexation_files_movies').html('');
	$('#indexation_button').html('');
  }
  /*var listinput = [];
  $( '#form_downloaded_files input').each(function() {
	if( $(this).attr('name') !== 'type' ) {
		listinput[$(this).attr('name')] = $(this).val();
	}
  });*/

  var nbinputs = $( '#form_downloaded_files input').length -1;

  var counter = 0;
  $( '#form_downloaded_files input').each(function() {
	if( $(this).attr('name') !== 'type' ) {
		var typevideos = '';
		var seasonnumber = 0;
		var value = $(this).val();
		if( $('#type_download_action').val() === 'search' ) {
			seasonnumber = getSeasonNumber(value);
			if( seasonnumber > 0 ) 
				typevideos = 'tvserie';
			else
				typevideos = 'movie';
			var searchkeywords = value.replace(/^(.*)\/([^\/]*)$/g, "$2");
			searchkeywords = searchkeywords.replace(/^(.*)(\.[^.]*)$/g, "$1");
			searchkeywords = searchkeywords.replace(/_[a-zA-Z0-9]*/g,"");
			searchkeywords = searchkeywords.replace(/\./g, ' ');
			value = searchkeywords;		
		}
		//alert('avant post rename search');
		$.ajax({
			type: "POST",
			url: "/Videos/perso",
			dataType: "json",
			data: '{"type":"' + $('#type_download_action').val() + '","' + $(this).attr('name') + '":"' + value + '","typevideo":"' + typevideos + '","seasonnumber":"' + seasonnumber + '"}', //JSON.stringify(arrayDownloadedFiles),
			  	contentType: 'application/json; charset=utf-8',
				cache: false,
				timeout: 300000000,
				crossDomain: true,
				success: function (result) {
					if( $('#type_download_action').val() === 'rename' ) {
						updateIndexes();
					}
					else if( $('#type_download_action').val() === 'search' ) {
				
						var content = '<div class="table-responsive"><table class="table"><tbody><tr class=\'info\'><td><h4>' + decodeURIComponent(result["filename"]) + '</h4>'; 
						var typevideo = result["typevideo"]; 
						for (var i = 0; i < result["data"].length; i++) {
							var newentries = '';
							var seasonnumber = 0;
							if( typeof result["data"][i].number !== 'undefined' ) 
								seasonnumber = result["data"][i].number;
							var txtSeason = '';
							var txtSerie = '';
							if( seasonnumber > 0 ) {
								txtSeason = ' Saison ' + seasonnumber; txtSerie = 'Série '; 
							}
							newentries = newentries + '<input name="' + result["filename"] + '" value="' +  result["data"][i].code + '" type="radio">' + txtSerie + result["data"][i].title + ' [' + result["data"][i].genre + ' de ' +  result["data"][i].year + ']' + txtSeason + '</input><br/>';
							content = content + newentries;	
						}
						var newentries = '';
						newentries = newentries + '<input name="' + result["filename"] + '" value="0" type="radio">[unclassed]</input><br/>';
						content = content + newentries;	
						content = content + '</td></tr></tbody></table></div>';	
						$('#indexation_files_txt').html("<h2>Propositions d'indexation ...</h2>");
						if( typevideo === 'tvserie' )
							$('#indexation_files_tvseries').html($('#indexation_files_tvseries').html() + content);
						if( typevideo === 'movie' )
							$('#indexation_files_movies').html($('#indexation_files_movies').html() + content);
						$('#indexation_button').html('<button class="btn btn-primary btn-xs center-block">Confirmer indexation</button>');
						//window.location = $('#form_indexation_files').attr('href');
						window.location.hash = $('#form_indexation_files').attr('href');
						$(window).scrollTop( $(window).scrollTop() -60);
						
						counter++;
						if( counter == nbinputs ) {
							enabledSearchButton();
							enabledIndexationButton();
						} else
							disabledIndexationButton();
					} // else if( $('#type_download_action').val() === 'search' ) {

				}, // success: function (result) {
				error: function(){
					if( $('#type_download_action').val() === 'search' ) {
						counter++;
						if( counter == nbinputs ) {
							enabledSearchButton();
							enabledIndexationButton();
						} else
							disabledIndexationButton();
					}
				}
			}); // $.ajax({
		} // if( $(this).attr('name') !== 'type' ) {
	}); // $( '#form_downloaded_files input').each(function() {
	return false;
});

function disabledIndexationButton() {
	$(":button:contains('Confirmer Indexation')").attr("disabled","disabled").addClass( 'ui-state-disabled' );
}

function enabledIndexationButton() {
	$(":button:contains('Confirmer Indexation')").removeAttr("disabled");
	$(":button:contains('Confirmer Indexation')").attr("Class","btn btn-primary btn-xs center-block");
}

function disabledSearchButton() {
	$(":button:contains('Renommer les fichiers')").attr("disabled","disabled").addClass( 'ui-state-disabled' );
	$(":button:contains('Rechercher sur Allociné')").attr("disabled","disabled").addClass( 'ui-state-disabled' );
}

function enabledSearchButton() {
	$(":button:contains('Renommer les fichiers')").removeAttr("disabled");
	$(":button:contains('Renommer les fichiers')").attr("Class","btn btn-primary btn-xs center-block");
	$(":button:contains('Rechercher sur Allociné')").removeAttr("disabled");
	$(":button:contains('Rechercher sur Allociné')").attr("Class","btn btn-primary btn-xs center-block");
}

$('#form_indexation_files').on('submit', function(){
	var number = 0;
	var tab = $( '#indexation_files_movies input' ).serializeArray();
	//$( '#indexation_files_movies input').each(function() {
	tab.forEach(function(entry) {
			//alert(entry.name + ' : ' + entry.value);
			$.ajax({
			type: "POST",
			url: "/Videos/perso",
			dataType: "json",
			data: '{"type":"indexation","typevideo":"movie","' + entry.name + '":"' + entry.value + '"}',
		      	contentType: 'application/json; charset=utf-8',
		    	cache: false,
		    	timeout: 300000000,
		    		crossDomain: true,
				success: function (result) {
					number++;
					if( number >= tab.length) {
						updateIndexes();
					}
				}
			});
	});

	tab = $( '#indexation_files_tvseries input' ).serializeArray();
	//$( '#indexation_files_tvseries input').each(function() {
	tab.forEach(function(entry) {
			//alert(entry.name + ' : ' + entry.value);
			$.ajax({
			type: "POST",
			url: "/Videos/perso",
			dataType: "json",
			data: '{"type":"indexation","typevideo":"tvserie","' + entry.name + '":"' + entry.value + '"}',
		      	contentType: 'application/json; charset=utf-8',
		    	cache: false,
		    	timeout: 300000000,
		    		crossDomain: true,
				success: function (result) {
					number++;
					if( number >= tab.length) {
						updateIndexes();
					}
				}
			});
	});
	return false;
});

$('#films-genre-tab').on('click', function (e) {
	updateOrderFilms('genre');	
});

$('#films-year-tab').on('click', function (e) {
        updateOrderFilms('year');
});

$('#films-country-tab').on('click', function (e) {
        updateOrderFilms('country');
});

$('#films-group-tab').on('click', function (e) {
	updateOrderFilms('group');	
});

$('#series-title-tab').on('click', function (e) {
	updateOrderSeries('title');	
});

$('#series-genre-tab').on('click', function (e) {
	updateOrderSeries('genre');	
});

$('#series-year-tab').on('click', function (e) {
        updateOrderSeries('year');
});

$('#series-country-tab').on('click', function (e) {
        updateOrderSeries('country');
});

$('#series-group-tab').on('click', function (e) {
	updateOrderSeries('group');	
});


$('#indexes-tab').on('click', function (e) {
		if( $('#indexes-tab').attr('state') === 'enabled' ) {
			$('#indexes-tab').attr({'state' : 'disabled'});
        	updateIndexes();
		}
});

{% if actiontype == 'click' %}
	$(this).find('#{{ actionvalue }}').click();
	/*$(this).find('#series-title-Arrow').click();
	$(this).find('#series-title-Arrow').find('a').click();*/
{% endif %}


});



</script>

{% endblock %}

{% block bottom %}
  {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

