{% extends "app.twig" %}

{% block title %}Index{% endblock %}
{% block sitename %}chris Vidéos{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block top %}
  {{ parent() }}
{% endblock %}
{% block content %}    

<style>
.bg {
  background: url('/static/images/bg2.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 300px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 300px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
#back-to-top{display:block;color:#fff;position:fixed;z-index:49;right:20px;bottom:20px;opacity:0;font-size:3em;padding:0 11px 0 12px;border-radius:10px;background-color:#b0c4de;}
#back-to-top:hover{opacity:0.85 !important}
#back-to-top.visible{opacity:0.5}
</style>
<div class="bg"></div>
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
	<div class="row">
		<div id="bienvenue"></div>
	</div>
	<div class="row">
		<div id="accueil"></div>
		<div id="search"></div>		
        </div>

    	</div>
      </div>
    </div>

<div class="container">

     <!--  <div class="page-header">
        <h1>Chris Videos</h1>
        <p class="lead">Accèder rapidement à toutes vos vidéos.</p>
</div> -->










{% if searchResult != null %}
{% if searchResult.movies|length > 0 %}
<h2>Films</h2>
      <div class="row">
         {% for film in searchResult.movies %}
		<div class="col-md-3">
		<p>

		{% if film.urlimagefile != null %}
		{% if film.urlimagefile  != '' %}
			<div class="fadeover"><img class="img-thumbnail" alt="image absente" src="perso/{{ film.urlimagefile }}" width="160"/></div>
		{% else %}
			<div class="fadeover"><img class="img-thumbnail" alt="image absente" src="{{ film.imageWebpath }}" width="160"/></div>
		{% endif %}
		{% else %}
			<div class="fadeover"><img class="img-thumbnail" alt="image absente" src="{{ film.imageWebpath }}" width="160"/></div>
		{% endif %}

		<br/>
		<a 

		{% if film.urlfile is defined and film.urlfile != null and film.urlfile  != '' %}
                        href="/Videos/perso/{{ film.urlfile|escape('html') }}?id={{ id }}"
        {% else %}
			href="{{ film.href }}"
		{% endif %}
         href="/Videos/perso/{{ film.urlfile|escape('html') }}?id={{ id }}"
		 title="{{ film.title }}&#10;Réalisateur: {{ film.directors|escape('html') }}&#10;Acteurs: {{ film.actors|escape('html') }}&#10;Pays: {{ film.country|escape('html') }}">{{ film.title|escape('html') }}</a>
                {% if film.year != '' %}
			<br/>
                        {{ film.genre|escape('html') }} [{{ film.year|escape('html') }}]
                {% endif %}
                </p>
		</div>
        {% endfor %}

      </div>
<hr>
{% endif %}

{% if searchResult.tvseries|length > 0 %}

<h2>Series</h2>
<div class="row">
         {% for saison1 in searchResult.tvseries %}
		<div class="col-md-3">
		<p>

		{% if saison1.urlimagefile != null %}
		{% if saison1.urlimagefile  != '' %}
			<div class="fadeover"><img class="img-thumbnail" alt="image absente" src="perso/{{ saison1.urlimagefile }}" width="160"/></div>
		{% else %}
			<div class="fadeover"><img class="img-thumbnail" alt="image absente" src="{{ saison1.imageWebpath }}" width="160"/></div>
		{% endif %}
		{% else %}
			<div class="fadeover"><img class="img-thumbnail" alt="image absente" src="{{ saison1.imageWebpath }}" width="160"/></div>
		{% endif %}

		<br/>
		<a 
		{% if saison1.urlfile is defined and saison1.urlfile != null and saison1.urlfile  != '' %}
                        href="/Videos/perso/{{ saison1.urlfile|escape('html') }}?id={{ id }}"
        {% else %}
			{% if scope == 'local' %}
				href="/Videos/perso?type=listvideos&typevideo=all&order=news&actiontype=click&actionvalue=series-title-tab"
			{% else %}
				href="{{ saison1.href }}"
			{% endif %}
		{% endif %}
	
		 title="{{ saison1.title }}&#10;Réalisateur: {{ saison1.directors|escape('html') }}&#10;Acteurs: {{ saison1.actors|escape('html') }}&#10;Pays: {{ saison1.country|escape('html') }}">{{ saison1.title|escape('html') }} (Saison {{ saison1.number|escape('html') }}, {{ saison1.episodeCount|escape('html') }} épisodes)</a>
                {% if saison1.year != '' %}
			<br/>
                        {{ saison1.genre|escape('html') }} [{{ saison1.year|escape('html') }}]
                {% endif %}
                </p>
		</div>
        {% endfor %}

      </div>
<hr>
{% endif %}
{% endif %}

<!--
{% if userAuth.is_granted_role("ROLE_ADMIN") %}
<div class="container">
  <div class="row">
    <h2>Page Content</h2>
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
    Aliquam in felis sit amet augue.
  </div>
  <hr>
</div>
{% endif %}
-->

<a href='#' id='back-to-top' title='Retour en haut'>
&#8679;
</a>

<script>
$(document).on('mouseover', '.fadeover', function(){
        $(this).animate({
            opacity: 0.6
        });
});

$(document).on('mouseout', '.fadeover', function(){
        $(this).stop(true, true).animate({
            opacity: 1
        });
});

var jumboHeight = $('.jumbotron').outerHeight();
function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
}

$(window).scroll(function(e){
    parallax();
});
</script>
{% endblock %}

{% block bottom %}
  {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

